@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Programmet er lavet af <strong>@ViewBag.Message</strong></h3>



<address>
    <strong>Support:</strong>   <a href="mailto:eaaarba@students.eaaa.dk">eaaarba@students.eaaa.dk</a><br />
</address>