
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bil A/S</h1>
    <p class="lead">Klik her for se på nuværende biler.</p>
    <p><a href="@Url.Action("Cars","Home")" class="btn btn-primary btn-lg">Se biler &raquo;</a></p>
</div>

